{% extends "layout/base.html" %}
{% block main %}
<form method="post" action="/change">
    <div class="score">
        <button type="submit" name="action" value="1">1</button>
        <button type="submit" name="action" value="2">2</button>
        <button type="submit" name="action" value="3">3</button>
        <button type="submit" name="action" value="4">4</button>
        <button type="submit" name="action" value="5">5</button>
        <button type="submit" name="action" value="6">6</button>
        <button type="submit" name="action" value="7">7</button>
        <button type="submit" name="action" value="8">8</button>
        <button type="submit" name="action" value="9">9</button>
        <button type="submit" name="action" value="0">0</button>
        <button type="submit" name="action" value="/">/</button>
        <button type="submit" name="action" value="X">X</button>
        <button type="submit" name="action" value="#">#</button>
    </div>
</form>
{% endblock %}
